<div class="container">
  <div class="container">
    <div class="row about">
      <div class="col-12">
        <span class="about-title">About the Hospital</span>
      </div>
      <div class="col-12">
        <img src="../../../assets/img/about.jpg" alt="">
      </div>

      <div class="col-12">
        <div class="history">
          <span class="history-title">Our History</span>
          <div class="history-text">
            <p>The tradition of caring that culminated in the establishment of Corona Regional Medical Center began in</p>
            <p>1965, with the founding of Corona Community Hospital. Since that time the hospital has changed to meet</p>
            <p>the needs of the rapidly growing community. Corona Community Hospital merged with Circle City Medical</p>
            <p>Center in 1992 and the resulting entity became Corona Regional Medical Center. The merged hospitals are</p>
            <p>now a 238-bed community hospital network comprised of a 160-bed acute care hospital and a 78-bed</p>
            <p>rehabilitation campus. It is certified by The Joint Commission, employs more than 1,250 trained healthcare</p>
            <p>workers and has a medical staff of approximately 347 physicians representing more than 40 specialties.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
