<div class="header">
  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="../../../assets/img/nav1.jpg">CORONATO</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav m-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" (click)="goTop()" routerLink="/">Home <i class="fa fa-fw fa-home"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" SimpleSmoothScroll mdbWavesEffect href="#service">Services <i class="fa fa-fw fa-briefcase"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" SimpleSmoothScroll mdbWavesEffect href="#depart">Departments <i class="fa fa-fw fa-hospital-o"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" SimpleSmoothScroll mdbWavesEffect href="#contact">Contact Us <i class="fa fa-fw fa-phone"></i></a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Profile <i class="fa fa-fw fa-user"></i><span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


</div>
<a (click)="goTop()"  href="javascript:" class="arrow">
  <i class="fas fa-arrow-circle-up"></i>
</a>
